* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #F4F9FD;
  background-image: url("../img/jumbotron.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 80%;
}


body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.prima-riga {
  width: 100%;
  border-bottom: 1px solid #374d62;
  background-color: #F4F9FD;
}

.seconda-riga {
  width: 100%;
  background-color: #F4F9FD;
}

.header-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #AFEBE4;
  height: 90px;
  width: 100vw;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

.menu-sopra {
  width: 80%;
  margin: auto;
}

.sottomenu {
  width: 80%;
  margin: auto;
  padding-top: 15px;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

/*navigazione-top-sx*/
.menu-lingua{
  float: left;
  width: 70%;
  margin: auto;
  margin-bottom: 10px
}

.menu-inline-sx li {
  display: inline-block;
  color: #33475B;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  line-height: 30px;
}

.menu-inline-sx li:first-child {
  border-right: 1px solid #33475B;
  padding: 0 30px;
}

.menu-inline-sx li .contatti {
  border: none;
  margin-left: 30px;
}

/*navigazione-top-dx*/
.menu-login {
  float: left;
  width: 30%;
}

.menu-inline-dx li {
  display: inline-block;
  color: #ff7a59;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  margin: 0 15px;
}

.menu-inline-dx li:first-child {
  color: #8da6bf;
}

.btn-bianco {
  border: 0.5px solid #ff7a59;
  border-radius: 5px;
  background-color: white;
  color: #ff7a59;
  font-weight: 300;
  padding: 10px;
}

.btn-orange {
  border: none;
  border-radius: 5px;
  background-color: #ff7a59;
  color: #fff;
  font-weight: 300;
  padding: 10px;
}

/*header-menu-logo*/

.logo {
  float:left;
  width: 30%;
  margin: auto;
}

.menu-dx-grande {
  float: right;
  width: 70%;
  margin: auto;
  }

.sottomenu-dx li {
  display: inline-block;
  color: #33475B;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  margin: 0 15px;
  }

.container-centrale {
  width: 70%;
  background-color: gray;
  height: 500px;
  margin: auto;
}

.cubi {
  background-color: pink;
  background-position: center;
  width: 70%;
  height: 500px;
  margin: auto;
  margin: 10px 0;
}

.riga-centrale {
  width: 100%;
  background-color: yellow;
  height: 400px;
  margin: 10px 0;
}

.immagine {
  width: 30%;
  height: 400px;
  background-color: green;
  margin: 10px 0;
}

.colonne li {
  display: inline-block;
  width: 33%;
  height: 600px;
  background-color: blue;
}
